$container-max-width: 1600px;
$container-offset: 20px;

$black-color: #000000;
$white-color: #ffffff;
$primary-color: #1e355d;
$active-color: #ff9e00;
$link-color: #32b3e9;
$link-color-hover: #134d66;
$gray-color: #929292;
